{{extend layout()}}

{{

first_post = latest_posts.first()

list_posts = latest_posts[1:]

}}
<h2>__main__()</h2>

<div id="top">

</div>

<div id="left_side">
    {{list_pages([first_post], snip=500)}}
</div>
<div id="right_side">
    <ul>
    <li>
    <h3>iterate(latest_posts, 5)</h3></li>
    {{for lp in list_posts:}}
        <li>
            {{=A(lp.title, _href=URL(r=request, c='weblog', f='view', args=lp.slug))}}
            <br />
            {{=lp.posted_on}}
        </li>
    {{pass}}
    </ul>

</div>

<div id="bottom">

</div>

<div style="clear: both;"></div>
